h1{
  font-family: "Arial Narrow";
  text-align: center;
  font-size: 50px;
}
#connexion{
  padding: 20px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
}
#boutons{
    display:flex;
    align-items: center;
    justify-content: center;
}

#boutons > input {
  margin: 1em;
  color: white;
}
#compte{
  background-color: blue;
  color: white;
}
#co{
  background-color: green;
}
