.projets{
  margin: 1em;
  display: flex;
}

body>fieldset>legend{
  margin-top: 1em;
  padding-left: 1em;
}
img{
  width:8em;
}
a, a:hover{
  color:black;
  text-decoration:none;
}
#membres,#modif{
  margin: 2em;
  padding: 2em;
  border-style:  double;
  border-radius: 10px;

}
#membres{
  display: block;
}
#input{
  display: block;
  margin-top: 1em;
}
#gestionMembres{
  display: flex;
  flex-wrap: nowrap;
}
#gestionMembres> a, #modifProj> a{
  margin-right: 1em;
}
#mesproj,#tousproj{
  border-style:solid;
  border-width:0.1em;
  border-color: lightgrey;
  text-align: center;
  flex:1 1 25%;
}
#ajoutproj{
  margin-left: 1em;
}
#sectionParam{
  display: block;
}
#modifProj{
  display: flex;
  flex-wrap: nowrap;
}
