p{
  margin-left: 2em;
}
label{
  margin-left: 1em;
}
a{
  margin-left: 1em;
}


#pdfpic{
  width: 80%;
  height: 80%;
}

#download{
  width: 5%;
  height: 5%;
}
#download:hover{
  background-color: black;
}

#retour
{
  color:white;
  background-color: black;
  border-radius: 10px;
  padding: 0.5em;
  margin-left: 1em;
}

#retour>input{
  background-color: black;
  border-style: none;
  margin-bottom: 1.5em;

}
#verif{
  margin-top: 2em;

}
#canvas{
  margin-top: 2em;
}
