.attribut {
  display: flex;
  flex-wrap: wrap;
}

.suppBout {
  margin-right: 1em;
  width: 3em;
  height: 2em;
}

.ajouteAttribut{
  margin: 2em;
}

.truc {
  color: red;
}

p {
  margin-right: 1em;
}
