{% extends "base.html" %}
{% block styles %}
{{ super() }}
  <link rel="stylesheet" href= "{{url_for('static',filename='home.css') }}"/>
{% endblock %}
  {% block contain %}<!--Affichage des listes de projets-->
  <fieldset>
    <legend>Mes Projets</legend>
    <section class="projets">
        <a href="{{url_for('add_projets') }}"><input type="submit" value="Ajouter un Projet" id="ajoutproj "></a>
    </section>
    </section>
    </fieldset>
    <fieldset>
      <legend>Tous les projets</legend>
      <section class="projets">
      </section>
      </fieldset>
  {% endblock %}
