{% extends "base_excerciseur.html" %}
{% block contain %}
{{ super () }}
<h1>Ajouter un projet :</h1>
<form role="form" method="POST" action=#><!--Formulaire de création de projet-->
{{ form.hidden_tag() }}
  <div class=
        {% if form.name.errors %}
        "form-groupe has-error"
        {% else %}
        "form-group"
        {% endif %}
        >
        {{ form.name.label }} {{ form.name(size=50,class_="form-control") }}<!--Affichage formulaire -->
  </div>
  {% if form.name.errors %}}<!--Gestion des erreurs -->
  <ul class="list-group">
    {% for e in form.name.errors %}}<!--Gestion des erreurs -->
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class=
        {% if form.description.errors %}
        "form-groupe has-error"
        {% else %}
        "form-group"
        {% endif %}
        >
        {{ form.description.label }} {{ form.description(size=50,class_="form-control") }}<!--Affichage formulaire -->
  </div>
  {% if form.description.errors %}}<!--Gestion des erreurs -->
  <ul class="list-group">
    {% for e in form.description.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <input class="btn btn-default" type="submit" value="Enregistrez">
</form>
{% endblock %}
