{% extends "base_excerciseur.html" %}
{% block content %}
{{ super() }}
<link rel="stylesheet" href= "{{url_for('static',filename='create_mcd.css') }}"/>

<form class="bd-example">
  <fieldset>


<!-- Cette div devra se répéter autant de fois qu'il y a d'entité -->

    <div class="bordmcd">
      <legend>Nouveau MCD</legend>
      <p>
        <label for="input">Nom Entité :</label>
        <input type="text" id="nameent" placeholder="Nom de l'entité" />
      </p>

      <p>
        <label for="select">Nom attribut :</label>
        <select id="typeatt">
          <option value="">Choisir...</option>
            <option value="">Integer</option>
            <option value="">Float</option>
            <option value="">String</option>
            <option value="">Char</option>
            <option value="">Date</option>
        </select>
      </p>

      <p>
        <button class ="btn btn-info" type="submit" onClick="ajouteAttribut()">Ajouter Attribut</button>
      </p>

      <p>
        <label for="input"> Clé primaire </label>
          <input id="checkprimary" type="checkbox">
      </p>

        <p>
          <button class ="btn btn-primary" type="submit" onClick="ajouteEntite()">Ajouter Entité</button>
        </p>
    </div>

    <div>
      <a href="/projets" class="btn btn-danger" role="button">Annuler</a>


      <a href="/projets/0/relation_resume" class="btn btn-success" role="button">Ajouter les entités</a>
    </div>

  </fieldset>
</form>

<script>
  // supprime une entite
  function removeEntite(id){
    var parent = document.querySelector(".fieldset");
    var child = document.getElementById("att"+id);
    parent.removeChild(child);
  }

  // supprime un attribut d'une entite
  function removeAttribut(id){
    var parent = document.querySelector(".fieldset");
    var child = document.getElementById("att"+id);
    parent.removeChild(child);
  }

  // ajoute une entite
  function ajouteEntite(){
      var divEntite = document.createElement("div");
      divEntite.className="attribut";
      divEntite.id = "att"+nbAtt;

      ajouteSuppButton(divEntite);
      ajouteNom(divEntite);
      ajouteCle(divEntite);
      ajouteAttributBouton(divEntite);
      // ajouteValeur(divAttribut);
      // ajouteQuantite(divAttribut);
      // ajouteGenre(divAttribut);

      var divActuel = document.querySelector(".ajouteAttribut");
      document.querySelector(".fieldset").insertBefore(divEntite, divActuel);
  }

  // ajoute le bouton de supression 
  function ajouteSuppButton(divAttribut){
    var bouton = document.createElement("button");
    divAttribut.appendChild(bouton);
    var textBouton = document.createTextNode("-");
    bouton.appendChild(textBouton);
    bouton.className = "suppBout";
    bouton.type = "button";
    bouton.id = nbAtt;
    bouton.onclick = function(){removeAttribut(this.id)};
  }


</script>
{% endblock %}
