{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}
  <link rel="stylesheet" href= "{{url_for('static',filename='aide.css') }}"/>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
var div1=0;
var div2=0;
var div3=0;
var div4=0;
function attributs(){
  $('.div').empty();
  if (div1==1){
    div1=0;
  }
  else{
  var div=document.getElementById('1');
  div.className="div";

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("Qu'est ce qu'un attribut en mérise ?");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Un attribut ou propriété est une donnée élémentaire d'informations ayant un sens en-elle même ( sans besoins d'autres éléments ) et appartenant à la description d'un objet ou d'une association. Un objet ( ou entité ) possède au minimum un attribut.");
  p.appendChild(text2);

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("Typage et nommage");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Chaque attribut possède un type ( par exemple un id sera de type int ). Sur le MCD, les types n'apparaissent pas mais le développeur aura besoin plus tard de connaître les types de chaque attributs pour créer sa base de données.");
  p.appendChild(text2);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Il est important de nommer de façon clair ses attributs afin que n'importe qui puissent regarder votre MCD et comprendre chaque propriété. Il est aussi important de nommer differement chaque attributs du MCD car dans le cas contraire, la conversion vers le SQL par exemple, créera beaucoup de conflits.");
  p.appendChild(text2);

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("Et les occurences ?");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Les occurences sont les valeurs prises par une propriété pour une itération d'une entité. Par exemple un attribut ' nom ' pourra avoir comme occurence ' Erwan ' ou encore ' Ludivine '.");
  p.appendChild(text2);

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("Exemple d'attributs");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Voici un exemple d'attributs pour un auteur ainsi que des exemples d'occurences possibles.");
  p.appendChild(text2);

  var img = document.createElement("img");
  var src="{{url_for('static',filename='images/Capture-numero1.png')}}";
  img.src=src;
  div.appendChild(img);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("On a donc ici les attributs id_a de type int, nom_a de type string, prenom_a de type string et date_naissance_a de type date.");
  p.appendChild(text2);

  div1=1;
}
}
function entites(){
  $('.div').empty();
  if (div2==1){
    div2=0;
  }
  else{
  var div=document.getElementById('2');
  div.className="div";

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("Qu'est ce qu'une entité ?");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Une entité est un objet doté d'une existence propre et est décrite par un identifiant et plusieurs attributs qui lui sont propres. Une entité possède au moins un attribut et au moins un identifiant.");
  p.appendChild(text2);

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("Représentation et exemple");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Une entité est représentée par un rectangle avec en haut le nom suivi des attributs avec les identifiants soulignés. Voici un exemple pour une entité Personne :");
  p.appendChild(text2);

  var img = document.createElement("img");
  var src="{{url_for('static',filename='images/Capture-numero2.png')}}";
  img.src=src;
  div.appendChild(img);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Ici l'entité Personne est identifiée par son numéro de sécurité social et possède un nom,un prénom et une adresse ");
  p.appendChild(text2);
  div2=1;
}
}
function relations(){
    $('.div').empty();
  if (div3==1){
    div3=0;
  }
  else{
  var div=document.getElementById('3');
  div.className="div";

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("Définition");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Une relation ou association décrit un lien existant entre 2 entités ou plus. Une relation n'a pas d'existance propre et peut ou non posséder des attributs.");
  p.appendChild(text2);

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("CIF");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("La CIF ( contrainte d'integrité fonctionnelle ) exprime le fait que l'une des entités participant à l'association est complètement déterminée par la connaissance d'une ou plusieurs autres entités participant dans cette même association.");
  p.appendChild(text2);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Voici un exemple avec une ville et un département :");
  p.appendChild(text2);

  var img = document.createElement("img");
  var src="{{url_for('static',filename='images/capture-numero3.gif')}}";
  img.src=src;
  div.appendChild(img);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Ici si on connait la ville , on connait forcément le département.");
  p.appendChild(text2);

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("Exemple de relations :");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Ici nous avons des entités auteur, livre et éditeur avec leurs relations écrire,possédant un pourcentage et une relation publier qui est une CIF.");
  p.appendChild(text2);

  var img = document.createElement("img");
  var src="{{url_for('static',filename='images/capture-numero4.jpg')}}";
  img.src=src;
  img.style.width='50%';
  div.appendChild(img);

  div3=1;
}
}
function cardi(){
  $('.div').empty();
  if (div4==1){
    div4=0;
  }
  else{
  var div=document.getElementById('4');
  div.className="div";

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("Définition");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text2 = document.createTextNode("Une cardinalité d'un lien entre une entité et une relation indique le minimum et le maximum de fois qu'une itération de l'entité peut être concerné par la relation. Souvent la cardinalité minimum sera représentée par 0 ou 1 et la maximum par 1 ou n ( n pour autant d'exemple que l'on veut ).");
  p.appendChild(text2);

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("Les cardinalités les plus courantes");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text = document.createTextNode("0-1 : L'entité est optionnelle");
  p.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text = document.createTextNode("1-1 : L'entité doit être utilisée une fois quoi qu'il arrive");
  p.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text = document.createTextNode("0-n : L'entité peut être utilisée une , plusieurs ou 0 fois");
  p.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text = document.createTextNode("1-n : L'entité doit être utiliseé une ou plusieurs fois");
  p.appendChild(text);

  var h3 = document.createElement("h3");
  div.appendChild(h3);
  var text = document.createTextNode("Exemple");
  h3.appendChild(text);

  var p = document.createElement("p");
  div.appendChild(p);
  var text = document.createTextNode("Ici une personne peut être auteur de 0 - n  livre(s) et un livre à un seul auteur");
  p.appendChild(text);


  var img = document.createElement("img");
  var src="{{url_for('static',filename='images/capture-numero5.png')}}";
  img.src=src;
  img.style.width='30%';
  div.appendChild(img);

  div4=1
}
}
</script>
{% endblock %}
{% block contain %}
<section id="Cours">
<fieldset>
  <legend> Retrouvez ici les cours pour apprendre à crée un MCD ! </legend>
  <button onclick="attributs()" type="button" class="btn btn-lg btn-block">Cours sur les attributs</button>
  <div class="div" id="1"></div>
  <button onclick="entites()" type="button" class="btn btn-lg btn-block">Cours sur les entitées</button>
  <div class="div" id="2"></div>
  <button onclick="relations()" type="button" class="btn btn-lg btn-block">Cours sur les relations</button>
  <div class="div" id="3"></div>
  <button onclick="cardi()" type="button" class="btn btn-lg btn-block">Cours sur les cardinalitées</button>
  <div class="div" id="4"></div>
</section>
{% endblock %}
