{% extends "bootstrap/base.html" %}<!--Css bootstrap -->
  {% block styles %}
  {{ super() }}
    <link rel="stylesheet" href= "{{url_for('static',filename='base_exerciseur.css') }}"/><!--Css base_exerciseur -->
  {% endblock %}
{% block content %}<!--Block body de la page -->
  {% block header %}
  <header> <!-- Header contenant le bouton de déconnexion et profil-->
    <script src="{{ url_for('static', filename='functions.js') }}" type="text/javascript"></script>
    <form action='/'>
      <input type="submit" value="Déconnexion" id="deco">
    </form>
    <h1 id="title"> Excerciseur MCD </h1>
    <div id= "lien">
    <a id="linkprofil" href="#"> <img id="profile" src="{{url_for('static',filename='logo_profile.jpg')}}"> </a>
  </div>
  </header>
  {% endblock %}
  {% block contain %}
  {% endblock %}
  {% endblock %}
