{% extends "bootstrap/base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet"
  href="{{ url_for ('static', filename ='base.css') }}"/> <!-- Intégration du ficher .css se trouvant dans
  le dossier static -->
{% endblock %}
{% block metas %}
{{ super() }}
<meta charset="utf-8"> <!-- block metas pour définir le type d'encodage-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}
{% block content %}
<body>
<h1> {{title}} </h1>

<form method="POST" action=""> <!-- debut formulaire dans le cas d'une erreur -->
    <div>
        <label for="login">Login :</label>
        <input type="text" id="login" placeholder='{{ login }}' required/>
    </div>
    <div>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" required />
    </div>

    <div class="button">
        <button type="submit">Connexion</button>
    </div>
</form>
<p> Mauvais mot de passe </p>
</body>
{% block main %}
{% endblock %}
{% endblock %}
