{% extends "base_excerciseur.html" %}
{% block content %}
{{ super() }}
<!-- Bouton ajouter MCD -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{ projet.nomProj }}</h1>
      {% if projet.nomMCD == "" %}
        <p><a class="btn btn-primary btn-lg" href="{{ projet.id }}/new-attributs" role="button">Ajouter un MCD &raquo;</a></p>
      {% else  %}
        <div id="mesproj">
          <fieldset>
            <legend>{{ projet.nomMCD }}</legend>
            <img src="{{url_for('static',filename='mcd.png')}}">
          </fieldset>
          <a href="{{ current_user.login }}/{{ p.id }}"><input type="submit" value="Consulter"></a>
          <a href="#"><input type="submit" value="Supprimer"></a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
