{% extends "base_excerciseur.html" %}
{% block contain %}
{{ super() }}
<!-- Bouton ajouter MCD -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{ projet.nomProj }}</h1>
      {% if projet.nomMCD == "" %}
        <p><a class="btn btn-primary btn-lg" href="{{url_for('page_new_attributs',username=username,idProj=id)}}" role="button">Ajouter un MCD &raquo;</a></p>
      {% else  %}
        <div id="mesproj">
          <fieldset>
            <legend>{{ projet.nomMCD }}</legend>
            <img src="{{url_for('static',filename='mcd.png')}}">
          </fieldset>
          <div class="pt-md-3 pb-md-4">
            <a role="button" class="btn btn-primary btn-lg" href="#">Consulter</a>
            <a role="button" class="btn btn-primary btn-lg" href="{{ url_for('page_modif_attributs', username=username, idProj=id) }}" >Modifier</a>
            <a role="button" class="btn btn-primary btn-lg" href="#" >Supprimer</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
