{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}
  <link rel="stylesheet" href= "{{url_for('static',filename='description.css') }}"/>

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
function sendDemande(){
  document.location.href="/projets/{{current_user.login}}/{{projet.nomProj}}/description/{{master}}/notif"
}
</script>
{% endblock %}
  {% block contain %}
    <body onmouseover=notif()>
  <a id="retour" href="{{url_for('page_projets',username=current_user.login,n=1,i=1)}}"><input type="Submit"  value="< Retour"></a>
  <div class="div">
  <fieldset>
    <legend>{{projet.nomProj}}</legend>
  <div class="div" id="membres">
  <fieldset>
    <legend>Membres</legend>
  {% for m in membres %}
    <div class="div" id="membre">{{m.user_login}}: {{m.droit.nomDroit}}</div>
  {% endfor %}
  </fieldset>
</div>
  <div class="div">
    <fieldset>
      <legend>Description</legend>
    {{projet.descProj}}
  </div>
</fieldset>
  </fieldset>
</div>
{% if m==None %}
  <input onclick="sendDemande()" class="btn btn-primary" type="Submit" id="demande" value="Demander à participer">
{% endif %}
  {% endblock %}
