{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href= "{{url_for('static',filename='consulter.css') }}"/>
{% endblock %}
{% block contain %}

  <fieldset>

    <!-- Vu d'ensemble du dictionnaire (valeurs d'exemple) -->
      <legend>{{proj.nomMCD}}</legend>

      <!-- for entité in dictionnaire -->
      <label> Données du MCD : </label>
      {% for e in ent %}
      <p> Entité <b>{{e.nomEntite}}: </b>
      {% for att in a %}
      {% if att.entite_id==e.id %}
        <b>{{att.nomAttribut}}</b> <i>{{att.typeAttribut}}</i>
      {% endif %}
      {% endfor %}
      </p>
      {% endfor %}



      {% for elem in relations %}
      <p>Relation <b>{{elem.nomRelation}}</b> entre
      {% for ent in entites %}
        {% if ent.relation_id==elem.id %}
          <b>{{ent.entite.nomEntite}}</b>,
        {% endif %}
        {% endfor %}
        avec le(s) attribut(s):
        {% for att in attributs %}
          {% if att.relation_id==elem.id %}
            {% for a1 in a %}
              {% if att.attribut_id==a1.id %}
                  <b>{{a1.nomAttribut}}</b>
              {% endif %}
            {% endfor %}
          {% endif %}

      {% endfor %}
      </p>
      {% endfor %}

      <!-- for relation in bdd -->
      <section id="bouton">
        <a href="" class="btn btn-primary" role="button">Modifier les attributs</a>
        <a href="" class="btn btn-success" role="button">Modifier les entités</a>
        <a href="" class="btn btn-warning" role="button">Modifier les relations</a>
      </section>
    </fieldset>
{% endblock %}
