{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}
  <link rel="stylesheet" href= "{{url_for('static',filename='accueil_projet.css') }}"/>

{% endblock %}
{% block contain %}
<div id="membres">
  {% for membres in membresProj %}
    <p>{{ membres.user_login }}: {{ membres.droit.nomDroit }}</p>
  {% endfor %}
  <a href="{{ url_for('add_membre',username=username,nomProj=nomProj)}}">Ajouter Membre</a>
</div>
  <script>
    function droit(droit){
      document.getElementById("resultat").innerHTML=droit
      document.getElementById("resultat").value=droit
    }
  </script>
  <div id="modif">
  <select id="select">
    {% for membre in membresProj %}
    <option onclick="droit('{{membre.droit.nomDroit|safe}}')" value="{{ membre.user_login }}">{{ membre.user_login }}</option>
    {% endfor %}
  </select>
  <p id="resultat">{{membresProj[0].droit.nomDroit}}</p>
</div>
{% endblock %}
