{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}
  <link rel="stylesheet" href= "{{url_for('static',filename='accueil_projet.css') }}"/>
  <link rel="stylesheet" href= "{{url_for('static',filename='description.css') }}"/>

{% endblock %}
{% block contain %}
  <body onmouseover=notif()>
{% if current_user.login != username %}
  <h1>Vous n'avez pas le droit d'accéder à cette page</h1>
{% else %}
<a id="retour" href="{{url_for('parametresProj',username=current_user.login,nomProj=nomProj)}}"><input type="Submit"  value="< Retour"></a>
<h1>Modifier projet :</h1>
  <form role="form" method="POST" action="{{ url_for('save_modifProj',username=username,nomProj=nomProj) }}">
  {{ form.hidden_tag() }}
  <div class=
        {% if form.name.errors %}
        "form-groupe has-error"
        {% else %}
        "form-group"
        {% endif %}
        >
        {{ form.name.label }} {{ form.name(size=50,class_="form-control") }}
  </div>
  {% if form.name.errors %}
  <ul class="list-group">
    {% for e in form.name.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class=
        {% if form.description.errors %}
        "form-groupe has-error"
        {% else %}
        "form-group"
        {% endif %}
        >
        {{ form.description.label }} {{ form.description(size=100,class_="form-control") }}
  </div>
  {% if form.description.errors %}
  <ul class="list-group">
    {% for e in form.descritption.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <input id="save" class="btn btn-default" type="submit" value="Enregistrez">
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    {% if message!= "Please log in to access this page." %}
      <li>{{ message }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}

{% endwith %}

  {% endif %}
{% endblock %}
