{% extends "base_excerciseur.html" %}
{% block contain %}
{{ super() }}

<form class="bd-example" action="/projets">
  <fieldset class="fieldset">
    <legend>Nouveau MCD</legend>
  </fieldset>

  <div class="relation" id="rel1">
    <input type="radio" name="relType" id="simple">Simple<br>
    <input type="radio" name="relType" id="tablee">Tablée
    <p>Tables: </p>
    <select class="relTables">
        <option value="">Table 1</option>
        <option value="">Table 2</option>
        <option value="">Table 3</option>
        <option value="">Table 4</option>
        <option value="">Table 5</option>
    </select>
    <select class="relTables">
        <option value="">Table 1</option>
        <option value="">Table 2</option>
        <option value="">Table 3</option>
        <option value="">Table 4</option>
        <option value="">Table 5</option>
    </select>
  </div>


  <button type="button" class="ajouteAttribut" onClick="ajouteElement()">Ajouter attribut</button>

  <p>
    <a href="#"><button role="button">Annuler</button></a>
    <button type="submit">Valider</button>
  </p>
</form>

<!-- <script>
  var nbRel = 0;

  // supprime un attribut
  function removeRelation(id){
    var parent = document.querySelector(".fieldset");
    var child = document.getElementById("rel"+id);
    parent.removeChild(child);
    nbAtt -= 1;
  }

  // ajoute un attribut
  function ajouteElement(){
      nbRel += 1;
      var divAttribut = document.createElement("div");
      divAttribut.className="attribut";
      divAttribut.id = "att"+nbAtt;

      ajouteSuppButton(divAttribut);
      ajouteNom(divAttribut);
      ajouteType(divAttribut);
      // ajouteValeur(divAttribut);
      // ajouteQuantite(divAttribut);
      ajouteGenre(divAttribut);

      var divActuel = document.querySelector(".ajouteAttribut");
      document.querySelector(".fieldset").insertBefore(divAttribut, divActuel);
  }

  // ajoute le bouton de supression de l'attribut
  function ajouteSuppButton(divAttribut){
    var bouton = document.createElement("button");
    divAttribut.appendChild(bouton);
    var textBouton = document.createTextNode("X");
    bouton.appendChild(textBouton);
    bouton.className = "suppBout";
    bouton.type = "button";
    bouton.id = nbAtt;
    bouton.onclick = function(){removeAttribut(this.id)};
  }

  // ajoute le champde saisie du nom
  function ajouteNom(divAttribut){
      var p1 = document.createElement("p");
      divAttribut.appendChild(p1)
      var labNomAtt = document.createElement("label");
      labNomAtt.for="input";
      var textNom = document.createTextNode("Nom de l'attribut :");
      labNomAtt.appendChild(textNom);
      var inputNomAtt = document.createElement("input");
      inputNomAtt.type="text";
      inputNomAtt.placeholder="Nom de l'attribut";
      inputNomAtt.required="required";
      p1.appendChild(labNomAtt);
      p1.appendChild(inputNomAtt);
  }

  // ajoute le champ de choix du type
  function ajouteType(divAttribut){
      var p2 = document.createElement("p");
      divAttribut.appendChild(p2);
      var labTypeAtt = document.createElement("label");
      labTypeAtt.for = "select";
      var textType = document.createTextNode("Type de l'attribut :");
      labTypeAtt.appendChild(textType);
      var selTypeAtt = document.createElement("select");
      p2.appendChild(labTypeAtt);
      p2.appendChild(selTypeAtt);
      var opt1 = document.createElement("option");
      var opt2 = document.createElement("option");
      var opt3 = document.createElement("option");
      var opt4 = document.createElement("option");
      var opt5 = document.createElement("option");
      opt1.value = "integer";
      opt2.value = "float";
      opt3.value = "string";
      opt4.value = "char";
      opt5.value = "date";
      var textOpt1 = document.createTextNode("Integer");
      var textOpt2 = document.createTextNode("Float");
      var textOpt3 = document.createTextNode("String");
      var textOpt4 = document.createTextNode("Char");
      var textOpt5 = document.createTextNode("Date");
      opt1.appendChild(textOpt1);
      opt2.appendChild(textOpt2);
      opt3.appendChild(textOpt3);
      opt4.appendChild(textOpt4);
      opt5.appendChild(textOpt5);
      selTypeAtt.appendChild(opt1);
      selTypeAtt.appendChild(opt2);
      selTypeAtt.appendChild(opt3);
      selTypeAtt.appendChild(opt4);
      selTypeAtt.appendChild(opt5);
  }

  // ajoute le champ de saisie de valeur
  // function ajouteValeur(divAttribut){
  //     var p3 = document.createElement("p");
  //     divAttribut.appendChild(p3);
  //     var labValAtt = document.createElement("label");
  //     labValAtt.for = "input";
  //     var textValAtt = document.createTextNode("Valeur :");
  //     labValAtt.appendChild(textValAtt);
  //     var inputValAtt = document.createElement("input");
  //     inputValAtt.type="number";
  //     inputValAtt.required="required";
  //     inputValAtt.className="valeuratt";
  //     inputValAtt.placeholder="0";
  //     p3.appendChild(labValAtt);
  //     p3.appendChild(inputValAtt);
  // }

  // ajoute le champ de saisie de quantite
  // function ajouteQuantite(divAttribut){
  //     var p4 = document.createElement("p");
  //     divAttribut.appendChild(p4);
  //     var labQteAtt = document.createElement("label");
  //     labQteAtt.for = "input";
  //     var textQteAtt = document.createTextNode("Quantite :");
  //     labQteAtt.appendChild(textQteAtt);
  //     var inputQteAtt = document.createElement("input");
  //     inputQteAtt.type="number";
  //     inputQteAtt.required="required";
  //     inputQteAtt.className="quantiteatt";
  //     inputQteAtt.placeholder="0";
  //     p4.appendChild(labQteAtt);
  //     p4.appendChild(inputQteAtt);
  // }

  // ajoute le champ de saisie du genre
  function ajouteGenre(divAttribut){
      var p5 = document.createElement("p");
      divAttribut.appendChild(p5);
      var labGenreAtt = document.createElement("label");
      labGenreAtt.for="select";
      var textGenreAtt = document.createTextNode("Genre :");
      labGenreAtt.appendChild(textGenreAtt);
      var selGenreAtt = document.createElement("select");
      // selGenreAtt.class="genreatt";
      var opt6 = document.createElement("option");
      var opt7 = document.createElement("option");
      opt6.value="masculin";
      opt7.value="feminin";
      var textOpt6 = document.createTextNode("Masculin");
      var textOpt7 = document.createTextNode("Feminin");
      opt6.appendChild(textOpt6);
      opt7.appendChild(textOpt7);
      selGenreAtt.appendChild(opt6);
      selGenreAtt.appendChild(opt7);
      p5.appendChild(labGenreAtt);
      p5.appendChild(selGenreAtt);
  }

</script> -->


{% endblock %}
