{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}
  <link rel="stylesheet" href= "{{url_for('static',filename='new_relation.css') }}"/>
{% endblock %}
{% block contain %}
<form method='post' class="bd-example" action="{{url_for('save_relation_tablee',username=username,idProj=idProj)}}">
  <fieldset class="fieldset">
    <legend>Nouvelle relation</legend>
    <p>
      <label for="input">Nom relation :</label>
      <input type="text" name="nomR" placeholder="Nom de la relation" required />
    </p>
    <input id="hidden" type='hidden' name='nbAtt' value='0'>

    <button type="button" class="ajouteAttribut btn btn-info" onClick="ajouteElement()">Ajouter attribut</button>



    <section id="sectEntite">
      <input id="hiddenEnt" type='hidden' name='nbEnt' value='2'>
      <div class="entite" id="ent1">
        <label>Entite : </label>
        <select id="selectEnt1" name="selectEnt1">
        {% for elem in entites %}
            <option value="{{elem.nomEntite}}">{{elem.nomEntite}}</option>
        {% endfor %}
        </select>
        <label>Cardinalité: </label>
        <input type="text" name="cardi1" required placeholder="0-n">
      </div>
      <div class="entite" id="ent2">
            <label>Entite : </label>
        <select id="selectEnt2" name="selectEnt2">
        {% for elem in entites %}
            <option value="{{elem.nomEntite}}">{{elem.nomEntite}}</option>
        {% endfor %}
        </select>
        <label>Cardinalité: </label>
        <input type="text" name="cardi2" required placeholder="0-n">
      </div>
      <button type="button" class="ajouteEntite btn btn-info" onClick="ajouteEntite()">Ajouter entite</button>
    </section>

    <p>
      <a href="{{url_for('page_ajouter_relation',username=username,idProj=idProj)}}"><button class="btn btn-warning" role="button">Annuler</button></a>
      {% if entites!=[] %}
        <button class="btn btn-success" type="submit">Valider</button>
      {% else %}
        <button class="btn btn-success" type="submit" disabled>Valider (Pas d'entités)</button>
      {% endif %}
    </p>
  </fieldset>
</form>

<script>
  var nbAtt = 0;
  var nbEnt = 2;
  var listAtt = [];
  // supprime un attribut
  function removeAttribut(id){
    var parent = document.querySelector(".fieldset");
    var child = document.getElementById("att"+id);
    parent.removeChild(child);
    var start=parseInt(id)+1;
    var end=parseInt(nbAtt)+1;
    for (var i = start; i < end; i++){
      var attribut = document.getElementById("att"+i);
      attribut.id = "att"+(i-1);
      var bouton = document.getElementById(""+i);
      bouton.id = ""+(i-1);
      var select = document.getElementById("selectAtt"+i);
      select.id = "selectAtt"+(i-1)
      select.name = select.id;
    }
    nbAtt -= 1;
    var hidden = document.getElementById("hidden");
    hidden.value=nbAtt;
  }

  // ajoute un attribut
  function ajouteElement(){
      nbAtt += 1;
      var hidden = document.getElementById("hidden");
      hidden.value=nbAtt;
      var divAttribut = document.createElement("div");
      divAttribut.className="attribut";
      divAttribut.id = "att"+nbAtt;

      ajouteSuppButton(divAttribut);
      ajouteNom(divAttribut);

      var divActuel = document.querySelector(".ajouteAttribut");
      document.querySelector(".fieldset").insertBefore(divAttribut, divActuel);
  }

  // ajoute le bouton de supression de l'attribut
  function ajouteSuppButton(divAttribut){
    var bouton = document.createElement("button");
    divAttribut.appendChild(bouton);
    var textBouton = document.createTextNode("X");
    bouton.appendChild(textBouton);
    bouton.className = "suppBout btn btn-danger";
    bouton.type = "button";
    bouton.id = nbAtt;
    bouton.onclick = function(){removeAttribut(bouton.id)};
  }

  // ajoute le champde saisie du nom
  function ajouteNom(divAttribut){
      var p1 = document.createElement("p");
      divAttribut.appendChild(p1)
      var labNomAtt = document.createElement("label");
      labNomAtt.for="input";
      var textNom = document.createTextNode("Attribut :");
      labNomAtt.appendChild(textNom);
      p1.appendChild(labNomAtt);

      //Create array of options to be added

      //Create and append select list
      var selectList = document.createElement("select");
      selectList.id = "selectAtt"+nbAtt;
      selectList.name = "selectAtt"+nbAtt;
      p1.appendChild(selectList);
      //Create and append the options
      {% for elem in attributs %}
          var option = document.createElement("option");
          option.value = "{{elem.nomAttribut}}";
          option.text = "{{elem.nomAttribut}}";
          selectList.appendChild(option);
      {% endfor %}
      }

      // -----------------------------------------------------------------------

      // supprime une entite
      function removeEntite(id){
        id = id.substr(1);
        var parent = document.querySelector("#sectEntite");
        var child = document.getElementById("ent"+id);
        parent.removeChild(child);
        var start=parseInt(id)+1;
        var end=parseInt(nbEnt)+1;
        for (var i = start; i < end; i++){
          var entite = document.getElementById("ent"+i);
          entite.id = "ent"+(i-1);
          var bouton = document.getElementById("e"+i);
          bouton.id = "e"+(i-1);
          var select = document.getElementById("selectEnt"+i);
          select.id = "selectEnt"+(i-1)
          select.name = select.id;
          var textField = document.getElementById("cardi"+i);
          textField.id = "cardi"+(i-1)
          textField.name = select.id;
        }
        nbEnt -= 1;
        var hidden = document.getElementById("hiddenEnt");
        hidden.value=nbEnt;
      }

      // ajoute une entite
      function ajouteEntite(){
          nbEnt += 1;
          var hidden = document.getElementById("hiddenEnt");
          hidden.value=nbEnt;
          var divEntite = document.createElement("div");
          divEntite.className="entite";
          divEntite.id = "ent"+nbEnt;

          ajouteSuppButtonEnt(divEntite);
          ajouteNomEnt(divEntite);

          var divActuel = document.querySelector(".ajouteEntite");
          document.querySelector("#sectEntite").insertBefore(divEntite, divActuel);
      }

      // ajoute le bouton de supression de l'entite
      function ajouteSuppButtonEnt(divEntite){
        var bouton = document.createElement("button");
        divEntite.appendChild(bouton);
        var textBouton = document.createTextNode("X");
        bouton.appendChild(textBouton);
        bouton.className = "suppBout btn btn-danger";
        bouton.type = "button";
        bouton.id = "e"+nbEnt;
        bouton.onclick = function(){removeEntite(bouton.id)};
      }

      // ajoute le champ de saisie du nom
      function ajouteNomEnt(divEntite){
          var p1 = document.createElement("p");
          divEntite.appendChild(p1)
          var labNomEnt = document.createElement("label");
          labNomEnt.for="input";
          var textNom = document.createTextNode("Entite :");
          labNomEnt.appendChild(textNom);
          p1.appendChild(labNomEnt);

          //Create array of options to be added

          //Create and append select list
          var selectList = document.createElement("select");
          selectList.id = "selectEnt"+nbEnt;
          selectList.name = "selectEnt"+nbEnt;
          p1.appendChild(selectList);
          //Create and append the options
          {% for elem in entites %}
              var option = document.createElement("option");
              option.value = "{{elem.nomEntite}}";
              option.text = "{{elem.nomEntite}}";
              selectList.appendChild(option);
          {% endfor %}
          var label = document.createElement("label");
          var textLab = document.createTextNode("Cardinalité : ");
          label.appendChild(textLab);
          divEntite.appendChild(label);
          var textField = document.createElement("input");
          textField.name = "cardi"+nbEnt;
          textField.id = textField.name;
          textField.type = "text";
          textField.placeholder = "0-n";
          textField.required = "required";
          divEntite.appendChild(textField);
        }

</script>
{% endblock %}
