{% extends "base_excerciseur.html" %}
{% block contain %}

<form class="bd-example">
  <fieldset>
    <legend>Nouveau MCD</legend>


<!-- Cette div devra se répéter autant de fois qu'il y a d'entité -->

    <div class="entite">
      <p>
        <label for="input">Nom Entité :</label>
        <input type="text" id="nameent" placeholder="Nom de l'entité" />
      </p>

      <p>
        <label for="select">Nom attribut :</label>
        <select id="typeatt">
          <option value="">Choisir...</option>
            <option value="">Integer</option>
            <option value="">Float</option>
            <option value="">String</option>
            <option value="">Char</option>
            <option value="">Date</option>
        </select>
      </p>

      <p>
        <label for="input"> Clé primaire </label>
          <input id="checkprimary" type="checkbox">
      </p>

      <p>
        <button type="submit">Ajouter Entité</button>
      </p>

    </div>

    <p>
      <p><a href="/projets" role="button">Annuler</a></p>
    </p>

    <a href="/projets/0/relation_resume" class="btn btn-default" role="button">Ajouter les entités</a>


  </fieldset>
</form>
{% endblock %}
