{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}

<link rel="stylesheet" href= "{{url_for('static',filename='new_relation.css') }}"/>
{% endblock %}
{% block contain %}
<form action="">
  <div>
    <label>Entité 1 : </label>
    <select>
      {% for ent in entites %}
      <option>{{ ent.nomEntite }}</option>
      {% endfor %}
    </select>
    <label>Cardinalités : </label>
    <select>
      <option>0-n</option>
      <option>1-n</option>
      <option>0-1</option>
      <option>1-1</option>
    </select>
  </div>
  <div>
    <label>Entité 2 : </label>
    <select>
      {% for ent in entites %}
      <option>{{ ent.nomEntite }}</option>
      {% endfor %}
    </select>
    <label>Cardinalités : </label>
    <select>
      <option>0-n</option>
      <option>1-n</option>
      <option>0-1</option>
      <option>1-1</option>
    </select>
  </div>
</form>
<footer>
  <a href="{{url_for('page_ajouter_relation',username=username,idProj=idProj)}}"><button class="btn btn-warning" role="button">Annuler</button></a>
  <a href="{{url_for('page_ajouter_relation',username=username,idProj=idProj)}}"><button class="btn btn-success" type="submit">Valider</button></a>
</footer>
{% endblock %}
