{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}
  <link rel="stylesheet" href= "{{url_for('static',filename='create_mcd.css') }}"/>
{% endblock %}
{% block contain %}

<form method='post' class="bd-example" action="{{ url_for('save_new_attributs', username=username, idProj=id ) }}">
  <fieldset class="fieldset">
    <legend>Nouveau MCD</legend>

<!-- fixe: Nom du MCD -->

    <p>
      <label for="input">Nom du MCD :</label>
      <input type="text" name="nomMCD" placeholder="Nom du MCD" required />
    </p>

<!-- Cette div devra se répéter autant de fois qu'il y a d'attributs avec la fonction javascript en dessous

    <div class="attribut">
      <p>
        <label for="input">Nom de l'attribut :</label>
        <input type="text" class="nameatt" placeholder="Nom de l'attribut" />
      </p>

      <p>
        <label for="select" >Type de l'attribut :</label>
        <select class="typeatt">
            <option value="">Integer</option>
            <option value="">Float</option>
            <option value="">String</option>
            <option value="">Char</option>
            <option value="">Date</option>
        </select>
      </p>

      <p>
        <label for="input">Valeur :</label>
        <input type="number" class="valeuratt" placeholder="0" />
      </p>

      <p>
        <label for="input">Quantité :</label>
        <input type="number" class="quantiteatt" placeholder="0" />
      </p>

      <p>
        <label for="select">Genre :</label>
        <select class="genreatt">
          <option value="">Masculin</option>
            <option value="">Féminin</option>
        </select>
      </p>
    </div> -->

    <input id="hidden" type='hidden' name='nbAtt' value='0'>

    <button type="button" class="ajouteAttribut" onClick="ajouteElement()">Ajouter attribut</button>

    <p>
      <a href="{{url_for('page_projet_perso',username=username,idProj=id)}}"><button class="btn-warning" role="button">Annuler</button></a>
      <button class="btn-success" type="submit">Valider</button>
    </p>

  </fieldset>
</form>

<script>
  var nbAtt = 0;
  var listAtt = [];

  // supprime un attribut
  function removeAttribut(id){
    var parent = document.querySelector(".fieldset");
    var child = document.getElementById("att"+id);
    parent.removeChild(child);
    var start=parseInt(id)+1;
    var end=parseInt(nbAtt)+1;
    for (var i = start; i < end; i++){
      var attribut = document.getElementById("att"+i);
      attribut.id = "att"+(i-1);
      var bouton = document.getElementById(""+i);
      bouton.id = ""+(i-1);
      var nomAtt = document.getElementById("nom"+i);
      nomAtt.id = "nom"+(i-1);
      nomAtt.name = "nom"+(i-1);
      var typeAtt = document.getElementById("type"+i);
      typeAtt.id = "type"+(i-1);
      typeAtt.name = "type"+(i-1);
      var genreAtt = document.getElementById("genre"+i);
      genreAtt.id = "genre"+(i-1);
      genreAtt.name = "genre"+(i-1);
    }
    nbAtt -= 1;
    var hidden = document.getElementById("hidden");
    hidden.value=nbAtt;
  }

  // ajoute un attribut
  function ajouteElement(){
      nbAtt += 1;
      var hidden = document.getElementById("hidden");
      hidden.value=nbAtt;
      var divAttribut = document.createElement("div");
      divAttribut.className="attribut";
      divAttribut.id = "att"+nbAtt;

      ajouteSuppButton(divAttribut);
      ajouteNom(divAttribut);
      ajouteType(divAttribut);
      // ajouteValeur(divAttribut);
      // ajouteQuantite(divAttribut);
      ajouteGenre(divAttribut);

      var divActuel = document.querySelector(".ajouteAttribut");
      document.querySelector(".fieldset").insertBefore(divAttribut, divActuel);
  }

  // ajoute le bouton de supression de l'attribut
  function ajouteSuppButton(divAttribut){
    var bouton = document.createElement("button");
    divAttribut.appendChild(bouton);
    var textBouton = document.createTextNode("X");
    bouton.appendChild(textBouton);
    bouton.className = "suppBout";
    bouton.type = "button";
    bouton.id = nbAtt;
    bouton.onclick = function(){removeAttribut(bouton.id)};
  }

  // ajoute le champde saisie du nom
  function ajouteNom(divAttribut){
      var p1 = document.createElement("p");
      divAttribut.appendChild(p1)
      var labNomAtt = document.createElement("label");
      labNomAtt.for="input";
      var textNom = document.createTextNode("Nom de l'attribut :");
      labNomAtt.appendChild(textNom);
      var inputNomAtt = document.createElement("input");
      inputNomAtt.id = "nom"+nbAtt;
      inputNomAtt.name = "nom"+nbAtt;
      inputNomAtt.type="text";
      inputNomAtt.placeholder="Nom de l'attribut";
      inputNomAtt.required="required";
      p1.appendChild(labNomAtt);
      p1.appendChild(inputNomAtt);
  }

  // ajoute le champ de choix du type
  function ajouteType(divAttribut){
      var p2 = document.createElement("p");
      divAttribut.appendChild(p2);
      var labTypeAtt = document.createElement("label");
      labTypeAtt.for = "select";
      var textType = document.createTextNode("Type de l'attribut :");
      labTypeAtt.appendChild(textType);
      var selTypeAtt = document.createElement("select");
      selTypeAtt.id = "type"+nbAtt;
      selTypeAtt.name = "type"+nbAtt;
      p2.appendChild(labTypeAtt);
      p2.appendChild(selTypeAtt);
      var opt1 = document.createElement("option");
      var opt2 = document.createElement("option");
      var opt3 = document.createElement("option");
      var opt4 = document.createElement("option");
      var opt5 = document.createElement("option");
      opt1.value = "integer";
      opt2.value = "float";
      opt3.value = "string";
      opt4.value = "char";
      opt5.value = "date";
      var textOpt1 = document.createTextNode("Integer");
      var textOpt2 = document.createTextNode("Float");
      var textOpt3 = document.createTextNode("String");
      var textOpt4 = document.createTextNode("Char");
      var textOpt5 = document.createTextNode("Date");
      opt1.appendChild(textOpt1);
      opt2.appendChild(textOpt2);
      opt3.appendChild(textOpt3);
      opt4.appendChild(textOpt4);
      opt5.appendChild(textOpt5);
      selTypeAtt.appendChild(opt1);
      selTypeAtt.appendChild(opt2);
      selTypeAtt.appendChild(opt3);
      selTypeAtt.appendChild(opt4);
      selTypeAtt.appendChild(opt5);
  }

  // ajoute le champ de saisie de valeur
  // function ajouteValeur(divAttribut){
  //     var p3 = document.createElement("p");
  //     divAttribut.appendChild(p3);
  //     var labValAtt = document.createElement("label");
  //     labValAtt.for = "input";
  //     var textValAtt = document.createTextNode("Valeur :");
  //     labValAtt.appendChild(textValAtt);
  //     var inputValAtt = document.createElement("input");
  //     inputValAtt.type="number";
  //     inputValAtt.required="required";
  //     inputValAtt.className="valeuratt";
  //     inputValAtt.placeholder="0";
  //     p3.appendChild(labValAtt);
  //     p3.appendChild(inputValAtt);
  // }

  // ajoute le champ de saisie de quantite
  // function ajouteQuantite(divAttribut){
  //     var p4 = document.createElement("p");
  //     divAttribut.appendChild(p4);
  //     var labQteAtt = document.createElement("label");
  //     labQteAtt.for = "input";
  //     var textQteAtt = document.createTextNode("Quantite :");
  //     labQteAtt.appendChild(textQteAtt);
  //     var inputQteAtt = document.createElement("input");
  //     inputQteAtt.type="number";
  //     inputQteAtt.required="required";
  //     inputQteAtt.className="quantiteatt";
  //     inputQteAtt.placeholder="0";
  //     p4.appendChild(labQteAtt);
  //     p4.appendChild(inputQteAtt);
  // }

  // ajoute le champ de saisie du genre
  function ajouteGenre(divAttribut){
      var p5 = document.createElement("p");
      divAttribut.appendChild(p5);
      var labGenreAtt = document.createElement("label");
      labGenreAtt.for="select";
      var textGenreAtt = document.createTextNode("Genre :");
      labGenreAtt.appendChild(textGenreAtt);
      var selGenreAtt = document.createElement("select");
      selGenreAtt.id = "genre"+nbAtt;
      selGenreAtt.name = "genre"+nbAtt;
      var opt6 = document.createElement("option");
      var opt7 = document.createElement("option");
      opt6.value="masculin";
      opt7.value="feminin";
      var textOpt6 = document.createTextNode("Masculin");
      var textOpt7 = document.createTextNode("Feminin");
      opt6.appendChild(textOpt6);
      opt7.appendChild(textOpt7);
      selGenreAtt.appendChild(opt6);
      selGenreAtt.appendChild(opt7);
      p5.appendChild(labGenreAtt);
      p5.appendChild(selGenreAtt);
  }

</script>

{% endblock %}
