{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}
  <link rel="stylesheet" href= "{{url_for('static',filename='new_relation.css') }}"/>
{% endblock %}
{% block contain %}
  <fieldset class="fieldset">
    <legend>Nouveau MCD</legend>

    <a href="{{ url_for('page_creer_relation', username=username, idProj=idProj ) }}"><button type="button">Ajouter relation</button></a>

    <section>

    <a href="{{url_for('page_projet_perso',username=username,idProj=idProj)}}"><button class="btn btn-warning" role="button">Annuler</button></a>
      <button class="btn btn-success" type="submit">Valider</button>

    </section>


  </fieldset>
{% endblock %}
