{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}
  <link rel="stylesheet" href= "{{url_for('static',filename='accueil_projet.css') }}"/>
  <link rel="stylesheet" href= "{{url_for('static',filename='description.css') }}"/>

{% endblock %}
  {% block contain %}
  <body onmouseover="notif()">
  {% if current_user.login != username %}
    <h1>Vous n'avez pas le droit d'accéder à cette page</h1>
  {% else %}
  <a id="retour" href="{{url_for('page_projets',username=current_user.login,n=1,i=1)}}"><input type="Submit"  value="< Retour"></a></br>

  <fieldset>

    <legend> Paramètres du projet : {{ nomProj }}</legend>
    <section class="projets" id='sectionParam'>
      <div id='gestionMembres'>
        <a  href="{{url_for('membres',username= username ,nomProj=nomProj )}}"><input class="btn btn-default" type="Submit" value="Gestion des membres"></a> <p> Ajoutez, supprimez ou modifiez des membres ! </p>
      </div> </br>
      <div id='modifProj'>
        <a href="{{ url_for('modifProj',username=username,nomProj=nomProj)}}"><input class="btn btn-default" type="Submit" value="Modification du projet"></a> <p> Modifiez le nom et la description du projet. </p>
      </div>
      <script>
      function active(){
        console.log( {{ gerer.droit_id }} )
        if( {{ gerer.droit_id }} == 1){
          document.getElementById('disablingDiv').style.display='block'
        }
        else{
          document.getElementById('nonMaster').innerHTML="Impossible, vous n'êtes pas master !"
        }
      }
      function desactive(){
        document.getElementById('disablingDiv').style.display='none'
      }
        </script>
      <div id="disablingDiv" >
        <section id="sectionNotVisible">
            <p> Etes vous sur de quitter le projet ? </p>
            <a id='quit' href="{{ url_for('suppProj',username=username,nomProj=nomProj)}}"><input class="btn btn-success" type="Submit" value="Oui"></a>
            <input class="btn btn-danger" type="Submit" value="Non" onclick="desactive()">
         </section>
       </div></br>
      <div id='suppProjet'>
        <input type="Submit" onclick=active() class="btn btn-danger" value="Supprimer le Projet"> <p> Supprime le projet <u> définitivement </u>  </p>
      </div>
    </br>
    <p id='nonMaster'> </p>
    </section>
    </section>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        {% if message!= "Please log in to access this page." %}
          <li>{{ message }}</li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </fieldset>
  {% endif %}
</body>
  {% endblock %}
