{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}

<link rel="stylesheet" href= "{{url_for('static',filename='new_relation.css') }}"/>
{% endblock %}
{% block contain %}
<script>
  function radio(){
    document.getElementById('valider').disabled=false;
  }
  function valider(){
    var simple = document.getElementById('simple');
    var idProj='{{ idProj }}'
    var username=' {{ username }}'
    if (simple.checked){
      document.location.href="/projets/"+username+"/"+idProj+"/new_relation/simple";
    }
    else{
      document.location.href="/projets/"+username+"/"+idProj+"/new_relation/tablee";
    }
  }
</script>
  <fieldset>
        <legend>Nouveau MCD</legend>

      <header>
        <input type="radio" id="simple" name="relation" onclick="radio()">Relation simple</input>
        <input type="radio" id="tabl" name="relation" onclick="radio()">Relation tablée</input>
        <input class="btn btn-success" id="valider" type="submit" onclick="valider()" value="Valider"disabled></input>
      </header>
      <article>
        <section>
          <h4>Relation simple:</h4>
          <img src="{{ url_for('static', filename='images/relation-simple.png')}}">
        </section>
        <section>
          <h4>Relation tablée:</h4>
          <img src="{{ url_for('static', filename='images/relation-tablee.png')}}">
        </section>
      </article>

      <footer>
        <a href="{{url_for('page_ajouter_relation',username=username,idProj=idProj)}}"><button class="btn btn-warning" role="button">Annuler</button></a>
        <button class="btn btn-success" type="submit">Valider</button>
      </footer>


<!-- Ce paragraphe devra se répéter autant de fois qu'il y a de relation -->

  <!-- Exemple d'affichage de relation entre 2 entités , boucle for -->

  </fieldset>
{% endblock %}
