{% extends "base_excerciseur.html" %}
{% block styles %}
{{ super() }}

<link rel="stylesheet" href= "{{url_for('static',filename='create_mcd.css') }}"/>
{% endblock %}
{% block contain %}
  <body onmouseover=notif()>
<form class="bd-example">
  <fieldset>


<!-- Ce paragraphe devra se répéter autant de fois qu'il y a de relation -->

  <!-- Exemple d'affichage de relation entre 2 entités , boucle for -->
    <div class="bordmcd">
      <legend>Nouveau MCD</legend>

      <p>Relation simple entre Entité1/Entité2
        <a href="/projets/0/new_relation1" class="btn btn-warning" role="button">Modifier</a>
        <button type="submit" class="btn btn-danger">Supprimer</button>
      </p>
    </div>

    <div>
      <a href="/projets/0/new_relation1" class="btn btn-primary" role="button">Ajouter une relation</a>

      <a href="/projets/0/mcd_resume" class="btn btn-success" role="button">Valider</a>
    </div>



  </fieldset>
</form>
{% endblock %}
