
{% if sujet == 'test' %}
<html>
  <body>
    <h1> COUCOU </h1>
 </body>
</html>
{%else%}
<html>
 <head>
   <link rel="stylesheet" href="{{url_for('static', filename='lucas.css')}}">
  <script type="application/x-javascript">
function draw() {
 var canvas = document.getElementById("canvas");
 var ctx = canvas.getContext("2d");

 ctx.fillStyle = "rgb(0,0,0)";
 ctx.fillRect (10, 10, 555, 550);
 ctx.fillStyle = "rgb(255,255,255)";
 ctx.fillRect (11, 11, 553, 548);
 ctx.fillStyle = "rgb(0,0,0)";
 ctx.fillRect (11, 100, 555, 2);
}
  </script>
 </head>
 <body onload="draw()">
   <canvas id="canvas" width="2600" height="800"></canvas>
 </body>
</html>
{%endif%}
